# Módulos de Node.js
node_modules/

# Archivos generados por Express
dist/
build/
*.log

# Archivos de registro
logs/

# Archivos de configuración local
.env

# Archivos de respaldo
*.bak
*.swp

# Archivos de respaldo de desarrollo
*.~
*.orig

# Directorio de dependencias generadas por npm
/.pnp
.pnp.js

# Archivos de registro de errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Carpetas específicas de IDE
.idea/
.vscode/

# Archivos de caché de Webpack
.cache/